{{> Header isNoServerPage="active"}}
<main>
    <div id="error-page">
        <h1>500</h1>
        <div>Наш сервер немного устал. Попробуйте зайти чуть позже.</div>
        {{> ButtonDiv class="nav-btn btn btn-red" text="Назад к чатам" data-page="chatsPage" }}
    </div>
</main>