{{> Header isProfilePage="active"}}

<main>
    <div id="main-box">
        <div class="main-box_right">
            {{> NavLine1 nav=1 name="Назад"  }}
        </div>
        <div class="main-box_left">
            {{> NavLine2 name="Ваш профиль" avatar=1  }}
        </div>
    </div>

    <div class="info-box info-box_400 info-box_white">
        {{> BoxHeader header="Изменить данные" }}
        <form class="info-box_content">
            {{> Label forAttr="form-password" text="Новый пароль"}}
            {{> Input id="form-password" name="password" type="password" }}

            {{> Label forAttr="form-password-copy" text="Повторить новый пароль"}}
            {{> Input id="form-password-copy" name="password-copy" type="password" }}

            {{> Button id="form-btn" text="Сохранить" }}
        </form>
    </div>
</main>