.form-error_api {
    position: relative;

    & > div {
        background-color: var(--color-red);
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        left: 0;
        line-height: 18px;
        position: absolute;
        text-align: center;
        width: 100%;
    }
}
