.form-error_api {
    position: relative;

    & > div {
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        background-color: var(--color-red);
    }
}