{{> Header isRegistrationPage="active"}}
<main>
    <div class="info-box info-box_400 info-box_white">
        {{> BoxHeader header="Регистрация" }}
        <form class="info-box_content">
            {{> Label forAttr="form-first_name" text="Имя"}}
            {{> Input id="form-first_name" name="first_name" type="text"}}

            {{> Label forAttr="form-second_name" text="Фамилия"}}
            {{> Input id="form-second_name" name="second_name" type="text"}}

            {{> Label forAttr="form-login" text="Логин"}}
            {{> Input id="form-login" name="login" type="text"}}

            {{> Label forAttr="form-email" text="Почта"}}
            {{> Input id="form-email" name="email" type="email"}}

            {{> Label forAttr="form-phone" text="Телефон"}}
            {{> Input id="form-phone" name="phone" type="text"}}

            {{> Label forAttr="form-password" text="Пароль"}}
            {{> Input id="form-password" name="password" type="password"}}

            {{> Button id="form-btn" text="Зарегистрироваться" }}
            {{> Link class="nav-btn" href="#" data-page="loginPage" text="Войти"}}
        </form>
    </div>
</main>