.info-list > div {
    border-bottom: 1px solid var(--color-light);
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 4px 0;

    & .info-list_header {
        font-weight: bold;
    }

    & .info-list_value {
        color: var(--color-blue-light);
    }
}