{{> Header isNoPage="active"}}
<main>
    <div id="error-page">
        <h1>404</h1>
        <div>Вы достигли конца интернета. Пора возвращаться.</div>
        {{> ButtonDiv class="nav-btn btn btn-red" text="Назад к чатам" data-page="chatsPage" }}
    </div>
</main>
