.chats_list_avatar {
    width: 60px;
    height: 60px;
    border-radius: 35px;
    background-color: var(--color-light);
}

.chats_list_new-count {
    font-size: 12px;
    border-radius: 20px;
    background-color: var(--color-red);
    color: white;
    text-align: center;
    padding: 3px;

}